.menu {
    // width: 100%;
    height: 148px;
    // background-color: transparent;
    position: fixed;
    z-index: 50;

    h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 1;
        // margin-left: 108px; 
        margin-top: 55px;
        text-transform: none;
    }
}
